#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### Q4. What is DQL? Explain SELECT with an example.

#### Q5. Explain Primary Key and Foreign Key.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

## Answers

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database :===> A database is a structured collection of data organized and stored in a computer system.
It allows users to store, manage, and retrieve data efficiently.

SQL (Structured Query Language) Databases:
----------------------------------------------
1. This database is structure base database. Data are stored in predefined schemas and table.
2. These databases are not suited for hierarchical data storage.
3. These databases are best suited for complex queries
4. Vertically Scalable.
5. Follows ACID property.

   Examples: MySQL, Oracle, MS-SQL Server, etc

NoSQL (Not Only SQL) Databases:
-------------------------------------
1. This database is not a structure basedata base and there is no concept of predefined schemas.
2. These databases are best suited for hierarchical data storage.
3. These databases are not so good for complex queries.
4. Horizontally scalable.
5. Follows CAP(consistency, availability, partition tolerance).
   
   Examples: MongoDB, GraphQL, Cassandra, etc

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL :===> This command are used to  defining and modifying the structure of a database, 
including tables, views, indexes, and other database objects. DDL statements are used to create, modify, 
or delete these objects in the database.

Create :===> CREATE statement is used to create a new database object, such as a table, view, index, or schema. 


CREATE TABLE Customers (
    ID INT PRIMARY KEY,
    Name VARCHAR(100),
    Email VARCHAR(255)
);

DROP :===> The DROP statement is used to delete an existing database object. 
It permanently removes the object and its associated data from the database.

DROP TABLE Customers;

ALTER :===> The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify,
or delete columns, constraints, or other properties of the object.

ALTER TABLE Customers
ADD Address VARCHAR(200);

TRUNCATE:===> The TRUNCATE statement is used to remove all rows from a table, while keeping the table structure intact. Unlike the DROP statement, 
TRUNCATE preserves the table itself, but deletes all the data within it. 

TRUNCATE TABLE Customers;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.Â¶

DML : ===> DML stands for Data Manipulation Language. 
It is used to perform operations on data within a database. 
DML consists of three main commands: INSERT, UPDATE, and DELETE.

INSERT: ===> The INSERT command is used to add new records or rows into a database table. It allows you to specify the values to be inserted into each column of the table.

Example-

INSERT INTO Employees (EmployeeID, FirstName, LastName, Department)
VALUES (101, 'Madhu', 'Prajapati', 'Sales');

UPDATE: ===>  The UPDATE command is used to modify existing records in a database table. It allows you to change the values of one or more columns in one or more rows.

Example-

UPDATE Employees
SET Department = 'Marketing'
WHERE EmployeeID = 101;

DELETE: ===> The DELETE command is used to remove records or rows from a database table. It allows you to specify a condition to delete specific rows or delete all rows from a table.

Example--

DELETE FROM Employees
WHERE EmployeeID = 101;

### Q4. What is DQL? Explain SELECT with an example.

DQL: ===> DQL stands for Data Query Language. It is used to retrieve data from a database. DQL primarily consists of the SELECT command,
which allows you to query and retrieve specific data from one or more database tables.

Example--

Select * from Employee;

select empNo,empName,salary from employee where empNo=101;

### Q5. Explain Primary Key and Foreign Key

Primary Key:
---------------    
A primary key is a column or a set of columns in a database table that uniquely identifies each row or record in that table.

Foreign Key:
-------------
A foreign key is a column or a set of columns in a database table that establishes a link or relationship between two tables.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

cursor() :===> The cursor() method creates a cursor object, 
which allows you to execute SQL queries and fetch results from the database.

execute():===> The execute() method is used to execute an SQL query.
It takes the SQL query as a parameter and performs the query execution on the database.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()

mycursor.execute("create table if not exists test1.Test_table(student_id int, Name varchar(50), Age int)")

### Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. DISTINCT
7. ORDER BY
9. LIMIT/OFFSET